<tr>
  <td><%= gist.user.email %></td>
  <td><%= link_to "#{truncate(gist.question.body, length: 25)}", admin_question_path(gist.question) %></td>
  <td><%= link_to "#{truncate(gist.gist, length: 30)}, gist.gist" %></td>
</tr>

