.header {
  background-color: white;
  height: 60px;

  &__container {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &__logo {
    float: left;
  }

  &__side {
    float: right;
    text-align: right;
  }

  &__nav {
    padding: 0;
    list-style: none;
  }

  &--admin {
    background-color: #4293e6;
    padding: 0px 25px;

    .header {
      &__logo {
        font-size: 30px;
        margin: 25px 0px;
        text-decoration: none;
        line-height: normal;
      }
    }

    a {
      color: white;

      &:hover, &:focus, &:visited {
        color: white;
      }
    }

    p {
      color: white;
    }
  }
}